/*pagina de login html*/

.corpodosite-login{

    background-color: #640903;

}

.titulo-login{

    height: 80px;
    

}

.nomedoathletico{

    position: absolute;
    right: 6%;
    top: 18%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
 
}

.ano{

    color: white;

}



.imagem-logo{

    width: 200px;
    margin-right: 350px;

}

.login{

    position: absolute;
    right: 33%;
    top: 10%;
    height: 500px;
    width: 450px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    
}

.esqueceuasenha, .japossuilogin, .google, .outlook, .facebook{

    display: block;
    margin-left: 90px;

}

.email, .senha, .esqueceuasenha, .japossuilogin{

    margin-bottom: 20px;

}

.google, .outlook, .facebook{

    margin: 0 0 5px 110px;

}

.google{

    margin-top: 50px;

}

.email, .senha{

    display: block;
    margin: 0 0 10px 50px;


}


.email{

    margin-top: 120px;
    padding: 5px;
    width: 70%;

}

.senha{

    padding: 5px;
    width: 70%;

}


.japossuilogin{

    background: transparent;
    border: none;
    color: white;
    font-size: x-small;
    margin-left: 250px;
}

.japossuilogin:hover{

    text-decoration: underline;

}




/*pagina inicial html*/

header {

    background-color: black;

}

.logodosite {

    height: 250px;
    width: 250px;
    margin-left: 20px;
    

}

.caixa {

    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
    

}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 20px;
    
    
}


nav ul {

    list-style: none;
   
}


nav ul .paginas {

    display: inline-block;
    
   
}

nav ul .paginas a {

    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 15px 30px;
    transition: transform 0.3s ease, font-size 0.3s ease, background-color 0.3s;
    display: inline-block;

}

nav ul .paginas a:hover{

    background: linear-gradient(120deg, #D10000, #8A0000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    border-radius: 20px;
    transform: scale(1.5);

}

body {

    background-color: firebrick;


}



.boasvindas {

   margin-top: 75px;
   text-align: center;
   font-size: 35px;
   font-weight: bold;

}

.furacao {

    font-weight: bold;
    color: white;


}



.beneficios {

    margin-top: 176.51px;
    padding-right: 30px;
    padding-left: 100px;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;

}

.texto1{

    margin-right: 4em;

}

.texto1 .beneficios .jogos a {

    font-weight: bold;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease, font-size 0.3s ease, background-color 0.3s;
    transform-origin: center;
    text-decoration: none;

}

.texto1 .beneficios .jogos a:hover {

    border-radius: 50px;
    transform: scale(1.2);

}


.texto1 .beneficios .produtos a {

    font-weight: bold;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease, font-size 0.3s ease;
    transform-origin: center;
    text-decoration: none;
    
}

.texto1 .beneficios .produtos a:hover {

    border-radius: 50px;
    transform: scale(1.2);
    text-decoration: none;

}

.texto1 .beneficios .ingressos a{

    font-weight: bold;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease, font-size 0.3s ease;
    transform-origin: center;
    text-decoration: none;

}

.texto1 .beneficios .ingressos a:hover {

    border-radius: 50px;
    transform: scale(1.2);

}

.texto1 .beneficios .sorteios a{

    font-weight: bold;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease, font-size 0.3s ease;
    transform-origin: center;
    text-decoration: none;

}

.texto1 .beneficios .sorteios a:hover {

    border-radius: 50px;
    transform: scale(1.2);

}

.caixa1 {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 200px;
    margin: 0 auto;
    width: calc(100%-100px);
}


.imagem1 {

    padding: 0;
    margin-top: 40px;
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
   

}

.torcida {

    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 40px black;

}





footer {

    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    margin-top: 50vh;
    height: 350px;
  
}

.textorodape{

    margin-top: 30px;
    font-size: 15px;

}

.imgrodape{


    width: 200px;
    height: auto;

}

.section-footer{

    margin-top: 30px;

}



.conteudodosite{

    margin-top: 60px;


}




/*contatos html*/

.titulocontatos{

    color: white;
    text-align: center;
    padding: 0 0 25px 0;
    font-size: 20px;

}


.textocontato{

    color: white;
    margin-top: 25px;
    text-align: center;
    padding: 15px 0 0 0;
    font-size: 25px;


}

.informacoes{

    color: black;
    padding-left: 57px;

    

}

.informacoes:hover{

    font-size: 26.2px;

}


.conteinerexplicacoes{

    padding-top: 60px ;

}

.conteinerinformacoescontato{


    padding-top: 15px; ;
    border: 2px solid #655902;
    width: 1000px;
    height: 600px;
    margin: 20px auto;

}

.comopreencher{

    
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;

}

.explicacoes{

    margin-top: 20px;
    display: inline-block;

}

.explicacaonomeesobrenome, .explicacaotel, .explicacaoemail, .explicacaomensagem, .explicacaoformadepag {

    display: inline-block;
    padding: 20px;
    margin: 20px;

}

.explicacaotel, .explicacaomensagem{

    margin-left: 20px;


}




h4{

    text-align: center;
    padding: 0 0 9px 0 ;
    font-size: 20px;
    color: white;

}

h4:hover{

    font-size: 21.5px;
    color: #c5ae02;
    margin-left: 5px;

}


.icone-nomeesobrenome{

    padding-right: 5px;


}


.icone-tel{

    padding-right: 5px;

}



.icone-email{

    padding-right: 5px;

}



.icone-mensagem{

    padding-right: 5px;
    
}

.icon-formadecontato{

    padding-right: 5px;

}



.textoexplicacaocont{

    text-align: justify;
    color: white;
}


.abaixooformalrio{

    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: white;

}

.abaixonossoformulario-span{

    font-weight: bold;
    color: #c5ae02;
    text-decoration: underline;

}


.formulario{

    margin-top: 40px;

}

form{

    margin: 40px 0;
    padding-left: 30px;
    

}

form label{

    display: block;
    font-size: 20px;
    color: white;
    margin: 0 0 20px 0;
    

}

.input-padrao{

    display: block;
    margin: 0 0 15px 0;
    padding: 10px 25px;
    width: 50%;
    border-radius: 5px;
   border: none;
   cursor: pointer; 

}

.input-padrao:hover{

    border: 2px dotted;
    border-color: #e8ce0c;
    
}

.text-comocontato, .text-horario{

    color: white;
    padding: 30px 0;
    font-size: 20px;

}

select{

    padding: 10px;
    cursor: pointer;

}

.checkbox-form{

    margin: 75px 80px 80px 0 ;
    
    

}

.enviar{

    width: 40%;
    padding: 10px 0;
    background: #bfa902;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px ;
    border: none;
    transition: 0.5s background-color, 1.2s transform;
    cursor: pointer;

}

.enviar:hover{

    color: rgb(172, 172, 172);
    background: #655902;
    transform: scale(1.1);
    
}


table{

    margin: 20px 40px;

}

thead{

  background: #655902;
  color: white; 
  font-weight: bold; 

}

td, th{

    border: 1px solid white;
    background: black;
    color: white;
    padding: 5px 8px;
    

}

.text-table{

    color: white;
    padding: 20px 0 20px 30px;
    font-size: 20px;

}



/*redes sociais html*/



.redes{

    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    
}

.redessociais {

    color: black;
    transition: color 0.3s font-size 0.3s;

}



.textoredes{

    color: black;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
   

}

.timedocoracao {

    transition: transform 0.3s ease, color 0.3s ease; ;
}

.timedocoracao:hover{

    background: linear-gradient(45deg, white, #BBBB);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transform: scale(1.05);


}


/*produtos html*/


.tituloprodutos{

    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 80px 0;
    margin-top: 40px;
    color: white;
    
   
}

/*.tituloprodutos:hover{


    background: linear-gradient(120deg, white, red, gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}*/

.section-produtos{

    margin-bottom: 100px;

}


h2{

    color: white;
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;

}


.coluna2, .coluna3{


    margin-top: 50px;
}


.camisetaimg, .jaquetaimg, .chaveiroimg, .bermudaimg, .calcaimg, .camisadetreinoimg, .chaveiroimg, .conjuntoagasalhoimg, .meiaoimg, .bolaimg {

    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 0 rgb(0,0,0) ;


}

.bermudaimg, .camisadetreinoimg, .chaveiroimg, .conjuntoagasalhoimg, .meiaoimg, .bolaimg{

    width:  245px;
    height: 245px;

}

.calcaimg{

    width: 225px;
    height:  225px;

}



.listadeprodutos {

    width: 940px;
    margin: 0 auto;
    text-align: center;


}

.listadeprodutos li {

    display: inline-block;
    margin: 0 14px 0 0;
    width: 30%;
    vertical-align: top;
    border-radius: 10px;
    padding: 5px;
    transition: background-color 0.5s;
  


}

.listadeprodutos li:hover{

    background: #640903;
    box-shadow: 0 0 30px 0 rgb(220, 1, 1);

}


.textoprodutos{


    color: white;
    font-size: 20px;

}



.texto-preco {

    color: white;
    margin: 10px 0 5px 0;
    font-size: 20px;

}


.botaoprodutos2{

    text-decoration: none;
    color: white;
    background: black;
    padding: 20px;
    width: 65%;
    display: block;
    margin: 60px auto;     
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s;
    
}

.botaoprodutos2:hover{

    background: #998700;
    box-shadow: 0 0 30px 0 rgb(220, 205, 1);

}





.section-mapa{

    margin-top: 20px;
    margin-bottom: 100px;
    

}



.mapa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    height: 200px;

}

.localizacao {
    font-size: 27px;
    color: white;
    text-align: center;
    margin: 30px 0 30px 0;


}

.div-texto-mapa {

    color: white;
    font-size: 25px;
    padding-left: 40px;
}

.teesperamosla, .lojafisica{

    font-size: 35px;
    color: #cbb615;
    font-weight: bold;
    text-decoration: underline;

}



.div-mapa {

    width: 40%;
    margin-right: 30px;

}

iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.section-video{

    margin-top: 200px;

}


.video{

    margin-top: 0.5px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    
   

}

.div-texto-video{

    display: inline-block;
    margin-top: 160px;
    padding-left: 90px;
    font-size: 1px ;

}

.subtitulo-video{

    color: white;
    font-size: 30px;

}



.video iframe{

    width: 80%;
    height: 350px;
    display: inline-block;

}

.div-video{

    width: 50%;

}



.rodapeprodutos {

    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    height: 330px;
    margin-top: 100px;
  
}

.textorodapeprodutos{

    margin-top: 70px;
    font-size: 13px;

}

.imgrodape{

    
    height: 200px;
    width: 200px;

}


