header {

    background-color: black;
    height: 230px;

}

h1 {

    height: 250px;
    width: 250px;
    margin-left: 20px;
    

}

.caixa {

    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
    

}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 20px;
    
    
}


nav ul {

    list-style: none;
   
}


nav ul li {

    display: inline-block;
    
   
}

nav ul li a {

    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    transition: transform 0.3s ease, font-size 0.3s ease, background-color 0.3s;
    display: inline-block;

}

nav ul li a:hover{

    background: linear-gradient(120deg, #D10000, #8A0000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    border-radius: 20px;
    transform: scale(1.5);

}

body{

    background-color: #8A0000;
    height: auto;
    width: auto;
}





.tituloprodutos{

    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 80px 0;
    margin-top: 40px;
    color: white;
    transition: background-color 0.3s;
    
   
}

.tituloprodutos:hover{


    background: linear-gradient(120deg, white, red, gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section-produtos{

    margin-bottom: 100px;

}


h2{

    color: white;
    font-size: 35px;
    font-weight: bold;

}


.coluna2, .coluna3{


    margin-top: 50px;
}


.camisetaimg, .jaquetaimg, .chaveiroimg, .bermudaimg, .calcaimg, .camisadetreinoimg, .chaveiroimg, .conjuntoagasalhoimg, .meiaoimg, .bolaimg {

    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 0 rgb(0,0,0) ;


}

.bermudaimg, .camisadetreinoimg, .chaveiroimg, .conjuntoagasalhoimg, .meiaoimg, .bolaimg{

    width:  245px;
    height: 245px;

}

.calcaimg{

    width: 225px;
    height:  225px;

}



.listadeprodutos {

    width: 940px;
    margin: 0 auto;
    text-align: center;


}

.listadeprodutos li {

    display: inline-block;
    margin: 0 14px 0 0;
    width: 30%;
    vertical-align: top;
    border: 3px solid black;
    border-radius: 10px;
    padding: 3px;
  


}

.listadeprodutos li:hover{

    border-color: #655902;
    box-shadow: 0 0 30px 0 rgb(192, 141, 0);

}


.textoprodutos{


    color: white;
    font-size: 20px;

}



.texto-preco {

    color: white;
    margin-top: 10px;
    font-size: 20px;

}


.botaoprodutos2{

    text-decoration: none;
    color: white;
    background: black;
    padding: 20px;
    width: 65%;
    display: block;
    margin: 60px auto;     
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s;
    
}

.botaoprodutos2:hover{

    background: #998700;
    box-shadow: 0 0 30px 0 rgb(220, 205, 1);

}





.section-mapa{

    margin-top: 20px;
    margin-bottom: 100px;
    

}



.mapa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    height: 200px;

}

.localizacao {
    font-size: 27px;
    color: white;
    text-align: center;
    margin: 30px 0 30px 0;


}

.div-texto-mapa {

    color: white;
    font-size: 25px;
    padding-left: 40px;
}

.teesperamosla, .lojafisica{

    font-size: 35px;
    color: #cbb615;
    font-weight: bold;
    text-decoration: underline;

}

.teesperamosla:hover, .lojafisica:hover{

    font-size: 29px;

}

.div-mapa {

    width: 40%;
    margin-right: 30px;

}

iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.section-video{

    margin-top: 200px;

}


.video{

    margin-top: 0.5px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    
   

}

.div-texto-video{

    display: inline-block;
    margin-top: 160px;
    padding-left: 90px;
    font-size: 1px ;

}

.subtitulo-video{

    color: white;
    font-size: 30px;

}



.video iframe{

    width: 80%;
    height: 350px;
    display: inline-block;

}

.div-video{

    width: 50%;

}



.rodapeprodutos {

    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    height: 330px;
    margin-top: 100px;
  
}

.textorodapeprodutos{

    margin-top: 70px;
    font-size: 13px;

}

.imgrodape{

    
    height: 200px;
    width: 200px;

}

