header {

    background-color: black;
    height: 220px;

}

h1 {

    height: 250px;
    width: 250px;
    margin-left: 20px;
    

}

.caixa {

    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
    

}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 20px;
    
    
}


nav ul {

    list-style: none;
   
}


nav ul li {

    display: inline-block;
    
   
}

nav ul li a {

    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    display: inline-block;

}

.home1 a{

    transition: transform 0.3s ease, font-size 0.3s ease;

}

.home1:hover{

    font-size: 26px;

}

.insta i{

    margin-right: 8px;

}

.insta a{
    
    transition: transform 0.3s ease, font-size 0.3s ease;

}

.insta:hover{
    font-size: 26px;
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCAF45);
    -webkit-background-clip: text; /*abaixo, é o codigo que é faz que o linear-gradiend, fique somente no texto*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}

.tiktok i {

    margin-right: 8px;

}


.tiktok a{

    transition: transform 0.3s ease, font-size 0.3s ease;  

    
}

.tiktok:hover{

    font-size: 26px;
    color: purple;

}

.you i {

    margin-right: 8px;

}


.you a{

    transition: transform 0.3s ease, font-size 0.3s ease;    

}

.you:hover{

    font-size: 26px;
    color:red;

}

.corporedes{

    background: linear-gradient(120deg, #D10000, #8A0000, #000000);

}

.redes{

    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    
}

.redessociais {

    color: black;
    transition: color 0.3s font-size 0.3s;

}

.redessociais:hover{

color: red;
font-size: 35px;

}

.textoredes{

    color: black;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
   

}

.timedocoracao {

    transition: transform 0.3s ease, color 0.3s ease; ;
}

.timedocoracao:hover{

    background: linear-gradient(45deg, white, #BBBB);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transform: scale(1.05);


}

.rodaperedes {

    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    height: 220px;
    margin-top: 100vh;
}




.textorodape{

    margin-top: 130px;
    font-size: 20px;

}

